<% title "Accueil" %>
<%= flash_messages %>


<div class="row banner">
  <%=image_tag("banner-3.jpg", alt: "banner")%>
</div>
<div class="row main-title">
  <h1><%= "Réseau intranet de la bibliothèque".upcase %></h1>
</div>


<hr>

<div class="container-fluid">
  <div class="row col-lg-12" id="la-une">
    <h1> Derniers livres ajoutés </h1>
    <div class="books-list">

      <% @books.each do |book| %>
          <div class="col-lg-2">
            <%= book_image(book) %>
          </div>
      <% end %>
    </div>

  </div>
</div>