<%= flash_messages %>

<div class="row page-edit-book">

  <% if @book.avatar.exists? %>
      <div class="col-md-2 col-md-offset-2 book-catalogue">
        <%= image_tag @book.avatar.url(:medium) %>
      </div>
  <% end %>

  <div class="col-md-8">
    <h1>Modifier</h1>
    <%= render 'form', book: @book %>
  </div>


</div>


