// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/




.searchform {
  display: block;
  margin: 0;
  overflow: hidden;
}
label, input {
  vertical-align: baseline;
  color: #737373;
}
label {
  margin: 0.125em 0.125em 0 0;

}
input[type="search"] {
  border: 2px solid #737373;
  border-width: 0 0 3px;
  background-color: transparent;
  font: 22px "Open Sans", sans-serif;
  padding: 0.125em 0.225em;
  width: 85%;
  float: left;

}
input[type="search"]:focus {
  color: #E18728;
  border-color: #E18728;
  outline: none;
}

.small-img{
  width: 60px;
  height: 100px;
}

#liste-books{
  margin-top:15px;
}

#new-book{
  width: 200px;
  height: 300px;
  border: solid 1px black;
  margin: auto;
}

.book-title{
  position: absolute;
  width: 100%;
  margin: auto;
  margin-top: 10px
}

.book-catalogue{
  margin-bottom: 70px;
  text-align: center
}