// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/




.searchform {
  display: block;
  margin: 0;
  overflow: hidden;
}

.search-form label, input {
  vertical-align: baseline;
  color: #FFFFFF;
}

label {
  margin: 0.125em 0.125em 0 0;
}

input[type="search"] {
  border: 2px solid #ffffff;
  border-width: 0 0 3px;
  background-color: transparent;
  font: 22px "Open Sans", sans-serif;
  padding: 0.125em 0.225em;
  width: 100%;
  float: left;
}

input[type="search"]:focus {
  color: #FFFFFF;
  border-color: #FFFFFF;
  outline: none;
}

.searchform input#search-box::-webkit-input-placeholder {color:#FFFFFF !important;}
.searchform input#search-box::-moz-placeholder          {color:#FFFFFF !important;}
.searchform input#search-box:-moz-placeholder           {color:#FFFFFF !important;}
.searchform input#search-box:-ms-input-placeholder      {color:#FFFFFF !important;}

.search-wrapper{
  position: absolute;
  top: 52px;
  width: 100%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.small-img{
  width: 60px;
  height: 100px;
}

#liste-books{
  margin-top:15px;
}

#new-book{
  width: 200px;
  height: 300px;
  border: solid 1px black;
  margin: auto;
}

.book-title{
  position: absolute;
  width: 90%;
  margin: auto;
  margin-top: 10px
}

.book-catalogue{
  margin-bottom: 70px;
  text-align: center
}



