@media (min-width: 768px){
  nav.navbar{
    border-radius : 0px;
  }
}

div.c-wrapper{
  width: 40%;
  margin: auto;
}

.carousel-inner{
  height: auto;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
  width: 100%;
  margin: auto;
}

#la-une{
  margin-bottom: 40px;
}

.img-une{
  width:200px;
  height:300px;
  border: solid 1px black;
}

.img-une img{
  width:200px;
  height:300px;
}

.item.active{
  height : 100%;
}

.banner{
  position: relative;
  //top: -20px;
  right: 1px;
}

.banner img{
  width: 100%;
}

.main-title{
  position: absolute;
  top: 15%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  width: 35%;
  height: 20%;
  padding: 20px;
  display: flex;
  border-left: solid 10px black;
}

@media screen and (max-width: 1024px){
  .main-title{
    display: none;
  }
}

.main-title h1{
  margin: auto;

}

#la-une h1{
  margin-left: 2%;
  margin-bottom: 30px;
  margin-top: 0px;
}

.books-list{
  display: flex;
}

.books-list div{
  margin: auto;
}

.alert.notice{
  margin-bottom: 0px;
}

