<h1>Editing Reservation</h1>

<%= render 'form', reservation: @reservation, book: @book %>

<%= link_to 'Show', book_reservation_path(@book, @reservation) %> |
<%= link_to 'Back', book_reservations_path(@book) %>
